<a href="https://colab.research.google.com/github/seobando/TradingBot/blob/main/4_kpis_interpretation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
%cd /content/drive/MyDrive/1 Formal Training/2 Msc. Ciencia de los datos/Semestre IV/Trader

/content/drive/MyDrive/1 Formal Training/2 Msc. Ciencia de los datos/Semestre IV/Trader

In [ ]:
import random
import torch
import pandas as pd
import numpy as np
from collections import deque

from datetime import datetime
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df = pd.read_csv("data/data_daily_^XAU.csv").drop("Unnamed: 0",axis=1)

In [ ]:
df.describe()

              Open         High          Low  ...    BIAS_long   VR     OBV
count  1259.000000  1259.000000  1259.000000  ...  1060.000000  0.0  1259.0
mean    102.154400   103.390929   100.897458  ...     4.653852  NaN     0.0
std      28.494284    28.885170    28.042782  ...    13.816675  NaN     0.0
min      61.380001    62.020000    60.590000  ...   -25.263087  NaN     0.0
25%      80.564999    81.555001    79.965000  ...    -5.114570  NaN     0.0
50%      89.959999    91.129997    88.820000  ...     1.818529  NaN     0.0
75%     131.455001   133.100006   129.709999  ...    14.354593  NaN     0.0
max     166.000000   167.089996   164.539993  ...    49.357583  NaN     0.0

[8 rows x 18 columns]

In [ ]:
def kpis_conversion(df,change_col,compare_col):

  if type(compare_col) == str:

    conditions  = [ df[change_col] == df[compare_col], df[change_col] > df[compare_col] , df[change_col] < df[compare_col] ]
    choices     = [ 0, 1, -1 ]
    change_col_name = change_col + "_interpreted"
    df[change_col_name] = np.select(conditions, choices, default=np.nan)

  else:

    conditions  = [ df[change_col] == 0, df[change_col] > 0 , df[change_col] < 0 ]
    choices     = [ 0, 1, -1 ]
    change_col_name = change_col + "_interpreted"
    df[change_col_name] = np.select(conditions, choices, default=np.nan)

  return  df

In [ ]:
def kpis_interpretation(df):

  # Open
  df = kpis_conversion(df,"Open","Close")
  # High
  df = kpis_conversion(df,"High","Close")
  # Low
  df = kpis_conversion(df,"Low","Close")
  # MA_short
  df = kpis_conversion(df,"MA_short","Close")  
  # MA_long
  df = kpis_conversion(df,"MA_long","Close")  
  # EMA_short
  df = kpis_conversion(df,"EMA_short","Close")
  # EMA_long
  df = kpis_conversion(df,"EMA_long","Close")
  # MACD
  df = kpis_conversion(df,"MACD","MACD_signal")
  # BIAS_short
  df = kpis_conversion(df,"BIAS_short",0)
  # BIAS_long
  df = kpis_conversion(df,"BIAS_long",0)
  # VR
  df = kpis_conversion(df,"VR","Volume")
  # OBV
  df = kpis_conversion(df,"OBV","Volume")

  return df

In [ ]:
df = kpis_interpretation(df)
df.to_csv("data/data_daily_interpreted_^XAU.csv")
df.head()

         Date       Open  ...  VR_interpreted  OBV_interpreted
0  2017-01-17  88.580002  ...             NaN              0.0
1  2017-01-18  89.040001  ...             NaN              0.0
2  2017-01-19  86.919998  ...             NaN              0.0
3  2017-01-20  87.669998  ...             NaN              0.0
4  2017-01-23  89.599998  ...             NaN              0.0

[5 rows x 31 columns]

In [ ]:
## QA
required_fields = ['Open_interpreted', 'High_interpreted','Low_interpreted', 'MA_short_interpreted', 'MA_long_interpreted', 'EMA_short_interpreted','EMA_long_interpreted', 'MACD_interpreted', 'BIAS_short_interpreted', 'BIAS_long_interpreted', 'VR_interpreted', 'OBV_interpreted']
# Set selected indicators
df = df[required_fields]
# Stack table
df_stacked = df.melt(var_name='indicators', value_name='marks')
df_stacked = df_stacked.groupby(['indicators', 'marks']).size().reset_index().rename(columns={0:"values"})
# Get indicators per mark
df_pivot = (
    df_stacked
            .pivot_table(
                index = "indicators"
                , columns = "marks" 
                , values = "values"
                , aggfunc = "sum"
                ,margins = True
                ,fill_value = np.NaN)
            .reset_index()
            .rename(columns={-1.0:"minor",0.0:"equal",1.0:"major"})
            )
# Count null values
df_pivot["levels"] = df_pivot.isnull().sum(axis=1)
display(df_pivot)

marks              indicators   minor   equal   major    All  levels
0       BIAS_long_interpreted   480.0     NaN   580.0   1060       1
1      BIAS_short_interpreted   568.0     NaN   642.0   1210       1
2        EMA_long_interpreted   668.0     1.0   590.0   1259       0
3       EMA_short_interpreted   670.0     1.0   588.0   1259       0
4            High_interpreted     NaN    20.0  1239.0   1259       1
5             Low_interpreted  1244.0    15.0     NaN   1259       1
6            MACD_interpreted   609.0     NaN   642.0   1251       1
7         MA_long_interpreted   580.0     NaN   480.0   1060       1
8        MA_short_interpreted   642.0     NaN   568.0   1210       1
9             OBV_interpreted     NaN  1259.0     NaN   1259       2
10           Open_interpreted   620.0     4.0   635.0   1259       0
11                        All  6081.0  1300.0  5964.0  13345       0

In [ ]:
# Get indicators with issues
with_issues = df_pivot[df_pivot["levels"]==2]
display(with_issues)

marks       indicators  minor   equal  major   All  levels
9      OBV_interpreted    NaN  1259.0    NaN  1259       2